.header {
	background: url('../img/slc.jpg');
	background-size: cover;
	background-position: center bottom;
    background-repeat: no-repeat;
	height: 600px;
	width: 100%;
	position: relative;
}

.black-overlay {
	background-color: rgba(0, 0, 0, 0.4);
	height: inherit;
	width: inherit;
}

.header-content {
	position: relative;
	z-index: 2;
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
	padding-top: 150px;
	text-transform: uppercase;	
	color: #FFFFFF;
}

.header-content small {
	color: #FFFFFF;
}

.center {
	width: 550px;
	margin: 0 auto;
}

.navigation-bar {
	position: fixed;
	background-color: #E0E0E0;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #888888;
	z-index: 21;
}

.navigation {
	margin-top: 18px;
}

.navigation li {
	text-align: center;
	display: inline;
	padding-left: 45px;
	font-size: 1.2em;
	text-transform: uppercase;
}

.navigation li:first-child {
	padding-left: 50px;
}

.navigation li:last-child {
	padding-right: 50px;
}

.navigation a {
	text-decoration: none;
	color: #005580;
}

.navigation a:hover {
	text-decoration: none;
	color: #888888;
	border-bottom: 1px solid #888888;
}

.navigation a:focus {
	text-decoration: none !important;
}

.main-content {
	height: 600px;
	width: 100%;
	position: relative;
}